In [36]:
spark.sql(
    '''
       CREATE TABLE IF NOT EXISTS txkt.ads_organ
       (
         `organ_name`                   STRING COMMENT '机构名称',
         `max_study_video`              STRING COMMENT '机构学习人数最多视频',
         `avg_page`                     BIGINT COMMENT '机构课程平均所在页数',
         `add_person_num_10d`           BIGINT COMMENT '机构近十天增加购买/报名人数', 
         `add_person_num_10d_max_video` STRING COMMENT '机构近十天增加购买/报名人数最多的的视频ID'
       ) 
       STORED AS PARQUET
    '''
)

DataFrame[]

In [37]:
spark.sql(
    '''
        INSERT OVERWRITE TABLE txkt.ads_organ
        SELECT organ_name,
               max_study_video,
               avg_page,
               add_person_num_10d,
               add_person_num_10d_max_video
          FROM txkt.dws_organ
         WHERE dt='{dt}'
    '''.format(dt='2022-03-23')
)

DataFrame[]

In [43]:
df = spark.sql(
    '''
        SELECT *
          FROM txkt.ads_organ
    '''
)

In [20]:
df.write.mode("overwrite") \
  .format("jdbc") \
  .option("url", "jdbc:mysql://node01:3306/txkt") \
  .option("dbtable", "ads_organ") \
  .option("user", "root") \
  .option("password", "@WSX3edc") \
  .save()

In [44]:
df.write.mode("overwrite") \
  .format("jdbc") \
  .option("url", "jdbc:mysql://101.35.21.127:3306/txkt") \
  .option("dbtable", "ads_organ") \
  .option("user", "txkt") \
  .option("password", "jKmnGWj6szmDa8hw") \
  .save()