In [34]:
spark.sql('drop table txkt.ads_organ')

DataFrame[]

In [39]:
spark.sql(
    '''
       CREATE TABLE IF NOT EXISTS txkt.ads_video_type
       (
         `video_type`                   STRING COMMENT '视频分类大类',    
         `max_study_video`              STRING COMMENT '学习人数最多视频',
         `add_study_num_10d`            BIGINT COMMENT '近十天增加学习人数',
         `add_person_num_10d`           BIGINT COMMENT '近十天增加购买/报名人数', 
         `add_person_num_10d_max_video` STRING COMMENT '近十天增加购买/报名人数最多的的视频ID'     
       ) 
       STORED AS PARQUET
    '''
)

DataFrame[]

In [40]:
spark.sql(
    '''
        INSERT OVERWRITE TABLE txkt.ads_video_type
        SELECT video_type,
               max_study_video,
               add_study_num_10d,
               add_person_num_10d,
               add_person_num_10d_max_video
          FROM txkt.dws_video_type
         WHERE dt='{dt}'
    '''.format(dt='2022-03-23')
)

DataFrame[]

In [27]:
df = spark.sql(
    '''
        SELECT *
          FROM txkt.ads_video_type
    '''
)

In [28]:
df.write.mode("overwrite") \
  .format("jdbc") \
  .option("url", "jdbc:mysql://101.35.21.127:3306/txkt") \
  .option("dbtable", "ads_video_type") \
  .option("user", "txkt") \
  .option("password", "jKmnGWj6szmDa8hw") \
  .save()