In [2]:
spark.sql(
    '''
        CREATE TABLE IF NOT EXISTS txkt.ads_video
        (
          `video_id`             STRING COMMENT '视频ID',
          `video_title`          STRING COMMENT '视频标题',
          `add_study_num_10d`    BIGINT COMMENT '课程近十天增加学习人数',
          `add_person_num_10d`   BIGINT COMMENT '课程近十天增加购买/报名人数' 
        ) 
        STORED AS PARQUET
    '''
)

DataFrame[]

In [29]:
spark.sql(
    '''
       INSERT OVERWRITE TABLE txkt.ads_video
       SELECT video_id,
              video_title,
              add_study_num_10d,
              add_person_num_10d
         FROM txkt.dws_video
        WHERE dt='{dt}'
    '''.format(dt='2022-03-23')
)

DataFrame[]

In [30]:
df = spark.sql(
    '''
        SELECT *
          FROM txkt.ads_video
    '''
)

In [7]:
url = 'jdbc:mysql://node01:3306/txkt'
table = 'ads_video'
auth_mysql = {"user": "root", "password": "@WSX3edc"}

df.write.jdbc(url, table, mode='overwrite', properties=auth_mysql)

In [5]:
url = 'jdbc:mysql://101.35.21.127:3306/txkt'
table = 'ads_video'
auth_mysql = {"user": "txkt", "password": "jKmnGWj6szmDa8hw"}

df.write.jdbc(url, table, mode='overwrite', properties=auth_mysql)

In [8]:
df.write.mode("overwrite") \
  .format("jdbc") \
  .option("url", "jdbc:mysql://node01:3306/txkt") \
  .option("dbtable", "ads_video") \
  .option("user", "root") \
  .option("password", "@WSX3edc") \
  .save()

In [31]:
df.write.mode("overwrite") \
  .format("jdbc") \
  .option("url", "jdbc:mysql://101.35.21.127:3306/txkt") \
  .option("dbtable", "ads_video") \
  .option("user", "txkt") \
  .option("password", "jKmnGWj6szmDa8hw") \
  .save()